asgiref==3.8.1
crispy-bootstrap5==2024.10
Django==5.1.2
django-appconf==1.0.6
django-crispy-forms==2.3
django-multiselectfield==0.1.13
django-select2==8.2.3
mysqlclient==2.2.5
python-decouple==3.8
sqlparse==0.5.1
tzdata==2024.2
