{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Панель Управления</title>
{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}

    <div class="container courses-list">

        <div class="mt-5 mb-2 d-flex flex-column flex-md-row align-items-center justify-content-between">

            <h4 class="d-flex align-items-center">Лид № {{ lead.id }}
                <span class="ms-3">
            {% if lead.status == 1 %}
                <span class="badge text-bg-warning fs-6 p-2">
                    Ожидание - <i class="bi bi-hourglass-split"></i>
                </span>
            {% elif lead.status == 2 %}
                <span class="badge text-bg-success fs-6 p-2">
                    Обработан - <i class="bi bi-check2-all"></i>
                </span>
            {% elif lead.status == 3 %}
                <span class="badge text-bg-danger fs-6 p-2">
                    Отменен - <i class="bi bi-x-lg"></i>
                </span>
            {% endif %}
             </span>
            </h4>
            {% if lead.status == 1 %}
                <div class="d-flex gap-3">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#cancelLeadModal">
                        Отменить
                    </button>
                    <a href="{% url 'leads:lead_update' pk=lead.id %}" type="button" class="btn btn-primary">
                        Изменить
                    </a>
                </div>

                <!-- Cancel Modal -->
                <div class="modal fade" id="cancelLeadModal" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Внимание !</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form method="post" action="{% url 'leads:lead_cancel' pk=lead.id %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <p>
                                        Вы уверены что хотите отменить этот лид ?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет
                                    </button>
                                    <button type="submit" class="btn btn-danger">Да</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <hr class="table-group-divider"/>
        <div class="row">
            <div class="col-6">
                <div class="bg-light rounded py-3 mt-3 px-2 border">
                    <p class="text-black ms-1">Детали ученика</p>
                    <table class="table bottom-1 border bg-white enrollment-info-table table-hover">
                        <tr>
                            <td class="w-auto">Имя:</td>
                            <td class="w-auto">{{ lead.student.first_name }}</td>
                        </tr>
                        <tr>
                            <td>Фамилия:</td>
                            <td>{{ lead.student.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Номер т. родителей:</td>
                            <td class="debt-students-phone-numbers"><span type="button"
                                                                          copy="{{ lead.student.phone_number }}"
                                                                          onclick="navigator.clipboard.writeText(this.getAttribute('copy')), this.classList.add('copied'), setTimeout(()=>{this.classList.remove('copied')}, 1000)">{{ lead.student.phone_number }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Номер т. ученика:</td>
                            <td class="debt-students-phone-numbers"><span type="button"
                                                                          copy="{{ lead.student.additional_number|default_if_none:"---" }}"
                                                                          {% if lead.student.additional_number %}onclick="navigator.clipboard.writeText(this.getAttribute('copy')), this.classList.add('copied'), setTimeout(()=>{this.classList.remove('copied')}, 1000)"{% endif %}>{{ lead.student.additional_number|default_if_none:"---" }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Заметка ученика:</td>
                            <td>{{ lead.student.notes|default:'---' }}</td>
                        </tr>
                    </table>
                    <div class="pt-2 pb-1">
                        <a class="ms-2 link-primary fs-6" href="{% url 'students:student_update' pk=lead.student.id %}">Перейти
                            на страницу ученика</a>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="bg-light rounded py-3 mt-3 px-2 border">
                    <p class="text-black ms-1">Детали лида</p>
                    <table class="table bottom-1 border bg-white enrollment-info-table table-hover">
                        <tr>
                            <td class="w-auto">Предмет:</td>
                            <td class="w-auto">{{ lead.subject|default:'--' }}</td>
                        </tr>
                        <tr>
                            <td>Дни уроков:</td>
                            <td>{{ lead.get_weekdays_display|default:'--' }}</td>
                        </tr>
                        <tr>
                            <td>Учитель:</td>
                            <td>{{ lead.teacher|default:'--' }}</td>
                        </tr>
                        <tr>
                            <td>Время урока:</td>
                            <td>{{ lead.lesson_time|default:'--' }}</td>
                        </tr>
                        <tr>
                            <td>Примерная дата:</td>
                            <td>{{ lead.arrival_date|default:'--' }}</td>
                        </tr>
                        <tr>
                            <td>Заметка:</td>
                            <td>{{ lead.note|default:'--' }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr class="table-group-divider mb-0"/>
        {% if lead.status == 1 %}
            <div class="row">
                <div class="col-12">
                    <div class="bg-light rounded py-3 mt-3 px-2 border">
                        <p class="text-black ms-1">Записать в группу</p>
                        <div class="col-12 bg-light rounded pt-2 px-2 border">
                            <form id="filterForm" method="get" class=""
                                  onreset="resetForm(event)">
                                <div class="">
                                    <h6 class="text-dark  ms-1 fs-6 m-0">Фильтры
                                        <button type="reset" class="filter-reset-btn ms-2 mb-1"><p>Очистить</p></button>
                                    </h6>
                                </div>
                                <div class="row mt-2 pb-3">
                                    <div class="col-12 col-md-4">
                                        <div class="custom-select-2">
                                            <label for="daySelect"
                                                   class="me-2 ms-1 mb-1">{{ filter_form.subject.label }}</label>
                                            {{ filter_form.subject }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="custom-select-2">
                                            <label for="daySelect"
                                                   class="me-2 ms-1 mb-1">{{ filter_form.teacher.label }}</label>
                                            {{ filter_form.teacher }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="custom-select-2">
                                            <label for="daySelect"
                                                   class="me-2 ms-1 mb-1">{{ filter_form.weekdays.label }}</label>
                                            {{ filter_form.weekdays }}
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div>

                            <p class="text-black ms-1 mt-2">Выберите группу</p>
                            <form method="post"
                                  action="{% url 'leads:lead_enroll' student_id=lead.student.id pk=lead.id %}">
                                {% csrf_token %}
                                {% for field in enroll_form %}
                                    <div class="my-1 {% if field.name != 'trial_lesson' %}form-floating{% else %}ms-1{% endif %}">
                                        {{ field }}
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    </div>
                                    {% if field.errors %}
                                        <div class="text-danger small">
                                            {% for error in field.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="d-flex justify-content-end flex-column flex-md-row">
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        {% elif lead.status == 2 or lead.status == 3 %}
            <div class="row">
                <div class="col-12">
                    <div class="bg-light rounded py-3 mt-3 px-2 border">
                        <p class="text-black ms-1">Информация о статусе</p>
                        <table class="table bottom-1 border bg-white enrollment-info-table table-hover">
                            <tr>
                                <td class="w-auto">Обработан в:</td>
                                <td class="w-auto">{{ lead.processed_at|default:'?' }}</td>
                            </tr>
                            <tr>
                                <td>Кем обработан</td>
                                <td>{{ lead.processed_by|default:'?' }}</td>
                            </tr>
                            {% if lead.status == 2 %}
                                <tr>
                                    <td>Записан в итоге:</td>
                                    <td><a class="link-dark" {% if lead.enrollment_result %}href="{% url 'courses:course_update' pk=lead.enrollment_result.course.id %}"{% endif %}>{{ lead.enrollment_result|default:'?' }}</a></td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
