{% extends '../layout/base.html' %}

{% block title %}
    <title>Панель Управления</title>
{% endblock %}
{% block content %}
    {% include '../layout/navbar.html' %}

    <div class="container pt-1">
        <div class="mt-4 mb-2 d-flex align-items-center justify-content-between">
            <h5 class="m-0">Лиды</h5>
            {#            <a href="{% url "students:create_student" %}" class="btn btn-primary">Создать</a>#}
            <a href="{% url 'leads:create_lead' %}" class="btn btn-primary">
                Создать Лид
            </a>
        </div>
        <hr class="table-group-divider"/>
        <div class="row m-0 p-0 ">
            <div class="col-12 bg-light rounded pt-2 px-2 border">
                <form id="filterForm" method="get" class=""
                      onreset="resetForm(event)">
                    <div class="">
                        <h6 class="text-dark  ms-1 fs-6 m-0">Фильтры
                            <button type="reset" class="filter-reset-btn ms-2 mb-1"><p>Очистить</p></button>
                        </h6>
                    </div>
                    <div class="row mt-2 pb-3">
                        <div class="col-12 col-md-3">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.student.label }}</label>
                                {{ filter_form.student }}
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.subject.label }}</label>
                                {{ filter_form.subject }}
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.teacher.label }}</label>
                                {{ filter_form.teacher }}
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="custom-select-2">
                                <label for="id_enrollment_month"
                                       class="me-2 ms-1 mb-1">{{ filter_form.created_by.label }}</label>
                                {{ filter_form.created_by }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-2 mt-2">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.status.label }}</label>
                                {{ filter_form.status }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-2 mt-2">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.weekdays.label }}</label>
                                {{ filter_form.weekdays }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-2 mt-2">
                            <div class="custom-select-2">
                                <label for="id_enrollment_month"
                                       class="me-2 ms-1 mb-1">{{ filter_form.date_from.label }}</label>
                                {{ filter_form.date_from }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-2 mt-2">
                            <div class="custom-select-2">
                                <label for="id_enrollment_month"
                                       class="me-2 ms-1 mb-1">{{ filter_form.date_to.label }}</label>
                                {{ filter_form.date_to }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mt-2">
                            <div class="custom-select-2">
                                <label for="id_enrollment_month"
                                       class="me-2 ms-1 mb-1">{{ filter_form.arrival_month.label }}</label>
                                {{ filter_form.arrival_month }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row px-2 mt-3">
            <div class="accordion accordion-flush px-1" id="LeadsListAccordion">
                {% for lead in leads %}
                    <div class="accordion-item my-1">
                        <div class="accordion-header">
                            <div class="d-flex justify-content-between align-items-center border">
                                <div class="d-flex align-items-center justify-content-between w-100 px-3">
                                    <div class="d-flex align-items-center">
                                        <span class="me-3 text-dark">{{ forloop.counter }}. </span>
                                        {% if lead.status == 1 %}
                                            <span class="badge text-bg-warning fs-6 p-2"><i
                                                    class="bi bi-hourglass-split"></i></span>
                                        {% elif lead.status == 2 %}
                                            <span class="badge text-bg-success fs-6 p-2"><i
                                                    class="bi bi-check2-all"></i></span>
                                        {% elif lead.status == 3 %}
                                            <span class="badge text-bg-danger fs-6 p-2"><i class="bi bi-x-lg"></i></span>
                                        {% endif %}
                                        <span class="ms-3 text-secondary opacity-75">{{ lead.id }} </span>
                                        <a href="{% url 'leads:lead_detail' pk=lead.id %}"
                                           class="py-2 ps-2 d-flex align-items-center text-dark text-decoration-none table-obj-name-link m-0 w-100 h-100"
                                           type="button">
                                            <span class="text-dark">{{ lead.student.full_name }}</span>
                                        </a>
                                    </div>
                                    <div class="d-flex debt-students-phone-numbers gap-3">
                                         <span type="button" copy="{{ lead.student.phone_number }}" onclick="navigator.clipboard.writeText(this.getAttribute('copy')), this.classList.add('copied'), setTimeout(()=>{this.classList.remove('copied')}, 1000)">{{ lead.student.phone_number }}</span>
                                    <span type="button" copy="{{ lead.student.additional_number|default_if_none:"---" }}" {% if lead.student.additional_number %}onclick="navigator.clipboard.writeText(this.getAttribute('copy')), this.classList.add('copied'), setTimeout(()=>{this.classList.remove('copied')}, 1000)"{% endif %}>{{ lead.student.additional_number|default_if_none:"---" }}</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-column h-100">
                                    <button class="accordion-button shadow-none collapsed border py-3 h-100"
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#accordion{{ lead.id }}" aria-expanded="false"
                                            aria-controls="flush-collapseOne">
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div id="accordion{{ lead.id }}" class="accordion-collapse collapse border"
                             data-bs-parent="#LeadsListAccordion">
                            <div class="accordion-body bg-opacity-25 bg-light">
                                <table class="table bottom-1 border bg-white enrollment-info-table table-hover">
                                    <tr>
                                        <td class="w-25">Лид:</td>
                                        <td class="w-100">#{{ lead.id }}</td>
                                    </tr>
                                    <tr>
                                        <td>Создано в:</td>
                                        <td>{{ lead.created_at }}</td>
                                    </tr>
                                    <tr>
                                        <td>Номер телефона родителей:</td>
                                        <td class="debt-students-phone-numbers"><span type="button" copy="{{ lead.student.phone_number }}" onclick="navigator.clipboard.writeText(this.getAttribute('copy')), this.classList.add('copied'), setTimeout(()=>{this.classList.remove('copied')}, 1000)">{{ lead.student.phone_number }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>Номер телефона ученика:</td>
                                        <td class="debt-students-phone-numbers"><span type="button" copy="{{ lead.student.additional_number|default_if_none:"---" }}" {% if lead.student.additional_number %}onclick="navigator.clipboard.writeText(this.getAttribute('copy')), this.classList.add('copied'), setTimeout(()=>{this.classList.remove('copied')}, 1000)"{% endif %}>{{ lead.student.additional_number|default_if_none:"---" }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>Заметка:</td>
                                        <td>{{ lead.note|default:'---' }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center text-secondary">Нет Лидов.</p>
                {% endfor %}
            </div>
            {% if page_obj.paginator.count > 30 %}
                {% include 'layout/pagination.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
