.loginFormContainer {
    max-width: 400px;
}

.loginForm {
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
}

.loginForm input {
    letter-spacing: 1px;
    font-weight: 400;
}

.loginForm button {
    font-size: 18px !important;
}

.navbar-brand img {
    width: 50px;
}

.profile-navbtn img {
    width: 40px;
}

.profile-navbtn {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    overflow: hidden;
    border: 1px solid black !important;
}


.courses-list-item:hover {
    box-shadow: 2px 2px 2px 2px black !important;
}

.course-list-item {
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    border-color: gray;
}

.course-list-item p,
.course-list-item span {
    transition: 0.3s;
}



.course-list-item:hover:not([disabled]) p,
.course-list-item:hover:not([disabled]) span {
    color: blue !important;
}

.course-list-item:hover:not([disabled]) {
    border-color: blue !important;
}


.main-lesson-days span:not(:last-child)::after {
    content: ',';
}

.checkstatus {
    width: 20px;
    height: 20px;
    box-shadow: none !important;
    background: whitesmoke !important;
    border: 1px solid red !important;
    border-radius: 2px !important;
}

.course-list-item[disabled]{
    opacity: 0.8;
}