.loginFormContainer {
    max-width: 400px;
}

.loginForm {
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
}

.loginForm input {
    letter-spacing: 1px;
    font-weight: 400;
}

.loginForm button {
    font-size: 18px !important;
}

.navbar-brand img {
    width: 50px;
}

.profile-navbtn img {
    width: 40px;
}

.profile-navbtn {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    overflow: hidden;
    border: 1px solid black !important;
}


.courses-list-item:hover {
    box-shadow: 2px 2px 2px 2px black !important;
}

.course-list-item {
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    border-color: gray;
}

.course-list-item p,
.course-list-item span {
    transition: 0.1s;
}

.course-list-item .course-name{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-list-item .course-name .course-name{
    font-size: 13px;
}

.course-list-item .course-name .course-id{
    font-size: 10px !important;
}

.course-list-item:hover:not(.marked) :where(p, span) {
    color: black !important;
}

.course-list-item:hover:not(.marked) {
    border-color: black !important;
}

.course-list-item.marked {
    color: white !important
}

.main-lesson-days span:not(:last-child)::after {
    content: ',';
}

.checkStatus {
    position: relative;
    width: 35px;
    height: 35px;
    box-shadow: none !important;
    border: 0px !important;
    border-radius: 10px !important;
    cursor: pointer;
}

.checkStatus:checked {
    background-color: green !important;
}

.checkStatus:not(:checked)::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 5px;
    top: calc(50% - 3px);
    left: calc(50% - 12px);
    transform: rotate(45deg);
    background-color: white;
    border-radius: 5px;
}

.checkStatus:not(:checked)::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 5px;
    top: calc(50% - 3px);
    left: calc(50% - 12px);
    transform: rotate(-45deg);
    background-color: white;
    border-radius: 5px;
}

.checkStatus:not(:checked) {
    background-color: darkred !important;
}

.course-list-item[disabled] {
    opacity: 0.8;
}

.markAllBtn button {
    border: 0px;
    background-color: transparent;
    color: black;
    font-size: 16px !important;
    transition: 0.3s;
}

.markAllBtn button:hover {
    text-shadow: 0px 0px 1px black;
}

.grade-inp {
    min-width: 40px;
    max-width: 60px;
    margin: 0 !important;
    box-shadow: none !important;
    text-align: center !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.hiddenDiv {
    display: none !important;
}


.my-toggler[aria-expanded="true"] .upIcon {
    display: none !important;
}

.my-toggler[aria-expanded="false"] .downIcon {
    display: none !important;
}

.attendance-item {
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.attendance-item:hover td {
    background-color: rgba(0, 0, 0, 0.05);
}

.attendance-item.trial-lesson td {
    background-color: rgba(255, 255, 0, 0.1) !important;
}

tr.trial-lesson td {
    background-color: rgba(255, 255, 0, 0.1) !important;
}

.attendance-item[status="absent"] {
    border: 2px solid rgba(255, 0, 0, 0.2);
}

.attendance-item[status="absent"] td {
    background-color: rgba(255, 0, 0, 0.05);
}

.attendance-item[status="absent"] td.name {
    color: red;
}

.attendance-item[status="present"] {
    border: 2px solid rgba(0, 128, 0, 0.1);
}

.attendance-item[status="present"] td {
    background-color: rgba(0, 128, 0, 0.05);
}

.attendance-item[status="present"] td.name {
    color: green;
}

.attendance-item[status="present"] .marked-status-badge .absent,
.attendance-item[status="present"] .check-buttons {
    display: none;
}

.attendance-item[status="absent"] .marked-status-badge .present,
.attendance-item[status="absent"] .check-buttons {
    display: none;
}

/* .attendance-item[status=""] .marked-conf */
.attendance-item:not([status="present"]):not([status="absent"]) .marked-conf {
    display: none !important;
}

.attendance-item:not([status="present"]) .gradesInp {
    display: none !important;
}

.topic-label {
    position: absolute;
    max-width: 57%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    top: -5px !important;
    font-size: 10px;
    right: 2%;
    font-weight: 500;
    padding: 0 5px;
    border-radius: 2px;
    border: 1px solid darkorange;
    color: white;
    background: darkorange;
    letter-spacing: 1px;
}

.teacher-name-label {
    position: absolute;
    max-width: 38%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    top: -5px !important;
    font-size: 10px;
    left: 2%;
    padding: 0 5px;
    border-radius: 2px;
    border: 1px solid grey;
    background-color: white;
    color: darkred;
    letter-spacing: 1px;
}

.requiredField .asteriskField {
    color: red !important;
    margin-left: 3px;
    font-size: 20px;
}

.form-floating label {
    opacity: 0.7;
    font-size: 16px !important;
    padding: 10px 0 0 10px !important;
}

.form-floating label::after {
    background: none !important;
}

.form-floating input {
    font-size: 15px;
    height: 50px !important;
    min-height: 50px !important;
    line-height: 0 !important;
}

.form-floating :where() {
    box-shadow: none !important;
}

.form-floating :where(input, textarea):focus {
    border-color: black;
    box-shadow: 0px 0px 2px 1px black !important;
}

.form-floating label[aria-required="True"] {
    color: #a00000;
    font-size: 14px;
}

.form-floating :where(input, textarea):placeholder-shown+label[aria-required="True"] {
    color: #a00000 !important;
}

.form-floating :where(input, textarea):required:placeholder-shown {
    border-color: #a00000;
    background-color: rgba(255, 0, 0, 0.05);
}

.form-floating :where(input, textarea):required:placeholder-shown:focus {
    border-color: #a00000 !important;
    box-shadow: 0px 0px 2px 1px #a00000 !important;
}

table.enrollments tr:not(.trial-lesson):hover td {
    background-color: rgba(0, 0, 0, 0.02) !important;
}

.form-floating > select:not(.multiplechoices) + .select2 > .selection > .select2-selection{
    height: 50px;
    padding-top: 20px;
    border: 1px solid lightgray;
    width: 100%;
}

.form-floating select.multiplechoices + .select2 .select2-selection{
    /* height: 50px; */
    padding-top: 20px;
    font-size: 15px;
    border: 1px solid lightgray !important;
    width: 100%;
}

.data-list .has-debt td,
.enrollments .has-debt:hover td{
    background-color: rgba(255, 0, 0, 0.1) !important;
}

.filter-reset-btn{
    background-color: transparent;
    font-size: 14px !important;
    font-weight: 600;
    height: 15px;
    padding: 0;
    border: none;
    text-decoration: solid underline grey;
    transition: 0.2s;
    color: grey;
}

.filter-reset-btn:hover{
    color: red;
    text-decoration-color: red;
}

.custom-select-2 > select + .select2 > .selection > .select2-selection{
    min-height: 30px;
    font-size: 16px;
    border: 1px solid lightgray;
}

#filterForm label{
    font-size: 14px !important;
    color: black;
}

#filterForm :where(input, select + .select2 > .selection > .select2-selection){
    min-height: 35px !important;
    align-items: center;
    padding: 3px 6px;
    border: 1px solid lightgray;
}

@media screen and (max-width: 480px) {
    .attendance-item {
        font-size: 17px;
    }
}

.table-obj-name-link:hover{
    text-decoration: 1px solid underline black !important;
}

.text-white p.course-name{
    color: white !important;
}

.modal * {
    z-index: 9999 !important; /* Ensure it appears above the modal */
}