{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Панель Управления</title>
{% endblock %}
{% block content %}
  {% include 'layout/navbar.html' %}

  <div class="container courses-list pt-5">
    {% if not obj.is_started %}
      <div class="alert alert-secondary">
        <form method="post" action="{% url 'courses:course_start' obj.id %}">
          {% csrf_token %}
          <div class="d-flex justify-content-between flex-column flex-md-row gap-3 align-items-center">
            <h5 class="m-0 text-danger">Курс пока не начат.</h5>
            <button type="submit" class="btn btn-danger">Начать Курс</button>
          </div>
        </form>
      </div>
    {% endif %}
    <h4 class="mt-4">Изменить инфорамацию группы #{{ obj.id }}</h4>
    <hr class="table-group-divider" />
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex justify-content-end flex-column flex-md-row pt-3">
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </form>
    <hr class="table-group-divider" />
    <div>
      <h5>Дни уроков: <button class="btn border main-lesson-days" data-bs-toggle="modal" data-bs-target="#changeTimeModal">
        {% for key, value in obj.weekdays.choices.items %}
        {% if key in obj.weekdays %}
          <span>{{value}}</span>
        {% endif %}
        {% endfor %}  
      </button></h5>
      <!-- Change time Modal -->
      <div class="modal fade"  data-bs-backdrop="static" id="changeTimeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <form action="{% url 'courses:update_course_weekdays' pk=obj.id %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Изменить дни курса</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">{{ weekdays_form|crispy }}</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_js %}
  <script>
    flatpickr('#LessonTimePicker', {
      enableTime: true,
      noCalendar: true,
      dateFormat: 'H:i',
      time_24hr: true,
    })
  </script>
{% endblock %}
