{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Панель Управления</title>
{% endblock %}
{% block content %}
  {% include 'layout/navbar.html' %}

  <div class="container courses-list pt-5">
    <h4 class="mt-4">Изменить инфорамацию группы #{{ obj.id }}</h4>
    <hr class="table-group-divider" />
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex justify-content-end flex-column flex-md-row pt-3">
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </form>
    <hr class="table-group-divider mt-4" />
    <div class="mt-5 mb-2 d-flex align-items-center justify-content-between">
      <h4 class="">Ученики</h4>
      <a href="{% url "students:create_enrollment_from_course" course_id=obj.id %}" class="btn btn-outline-primary">Добавить</a>
    </div>
    {% for obj in enrollments %}
      <div class="border-2 border p-3 d-block course-list-item my-3">
        <div class="row">
          <div class="col-12 col-md-6 mb-3 mb-sm-4 mb-md-0 d-flex align-items-center">
            <p class="text-dark m-0">{{ obj.student.full_name|capfirst }}</p>
          </div>
          <div class="col-12 col-sm-2 col-md-1 d-flex align-items-center">
            <p class="text-dark m-0">--:--</p>
          </div>
          <div class="col-12 col-sm-10 col-md-5 d-flex align-items-center">
            <p class="main-lesson-days m-0 text-dark">
              <span class="bandge text-secondary opacity-50">{{ obj.student.student_id }}</span>
            </p>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="text-center text-secondary">Нет Учеников.</p>
    {% endfor %}
  </div>
{% endblock %}

{% block custom_js %}
  <script>
    flatpickr('#LessonTimePicker', {
      enableTime: true,
      noCalendar: true,
      dateFormat: 'H:i',
      time_24hr: true,
    })
  </script>
{% endblock %}
