{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Все Группы</title>
{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}

    <div class="container courses-list">
        <div class="mt-4 mb-2 d-flex align-items-center justify-content-between">
            <h5 class="m-0">Группы</h5>
            {#      <a href="{% url 'courses:create_course' %}" class="btn btn-primary">Создать</a>#}
            <div>
                <span class="me-2">Создать:</span>
                <a href="{% url 'courses:create_subject' %}" type="button" class="btn btn-outline-primary">
                    Предмет
                </a>
                <a href="{% url 'courses:create_course' %}" type="button" class="btn btn-primary">
                    Группу
                </a>
            </div>
        </div>
        <hr class="table-group-divider"/>
        <div class="row m-0 p-0 ">
            <div class="col-12 bg-light rounded pt-2 px-2 border">
                <form id="filterForm" method="get" action="{% url 'main:courses_list' %}" class=""
                      onreset="resetForm(event)">
                    <div class="">
                        <h6 class="text-dark  ms-1 fs-6 m-0">Фильтры
                            <button type="reset" class="filter-reset-btn ms-2 mb-1"><p>Очистить</p></button>
                        </h6>
                    </div>
                    <div class="row mt-2 pb-3">
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="custom-select-2">
                                <label for="teacherName" class="me-2 ms-1 mb-1">{{ filter_form.teacher.label }}</label>
                                {{ filter_form.teacher }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="custom-select-2">
                                <label for="subject" class="me-2 ms-1 mb-1">{{ filter_form.subject.label }}</label>
                                {{ filter_form.subject }}
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="custom-select-2">
                                <label for="subject" class="me-2 ms-1 mb-1">{{ filter_form.sort_by.label }}</label>
                                {{ filter_form.sort_by }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.weekdays.label }}</label>
                                {{ filter_form.weekdays }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="custom-select-2">
                                <label for="subject" class="me-2 ms-1 mb-1">{{ filter_form.display.label }}</label>
                                {{ filter_form.display }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="row px-2 mt-3">

            {% for obj in courses %}
                <div class="col-12 col-md-6 col-lg-4 px-1">
                    <div class="position-relative px-0">
                        <span class="position-absolute top-0 topic-label" user-color="{{ obj.teacher.color }}"
                              style="outline-color: {{ obj.teacher.color }};">{{ obj.last_topic|default:"---" }}<span
                                style="background: {{ obj.teacher.color }}" class="label-bg"></span></span>
                        <span class="position-absolute top-0 teacher-name-label"
                              style="outline-color: {{ obj.teacher.color }} !important;">{% if obj.teacher.first_name %}
                            {{ obj.teacher.first_name|default:'-' }} {{ obj.teacher.last_name|default:"-" }}{% else %}
                            {{ obj.teacher.username }}{% endif %}<span style="background: {{ obj.teacher.color }}"
                                                                       class="label-bg"></span></span>
                        <a href="{% url 'courses:course_update' pk=obj.id %}"
                           class="border-3 border px-2 py-2 d-block course-list-item mt-2 mb-1">
                            <div class="row">
                                {% if obj.subject.individual and obj.get_single_enrollment %}
                                    <div class="col-9 gap-2 align-right pt-1">
                                        <p class="text-dark mb-0 course-name mt-1 align-end h-100 w-100">
                                            <span class="fs-6 text-secondary opacity-50 course-id">{{ obj.id }}</span>
                                            {{ obj.get_name }} -
                                            <span class="text-primary">
                                            {{ obj.get_single_enrollment.student }}
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-3 d-flex align-items-end justify-content-end h-100 pt-1 p-0 pe-3">
                                        <p title="Баланс" data-bs-toggle="tooltip" data-bs-placement="top" class="badge border my-0 me-1 text-dark {% if obj.get_single_enrollment.balance <= 0 %}text-danger{% endif %}">{{ obj.get_single_enrollment.balance }}</p>
                                        <p class="m-0"><span
                                                class="badge text-bg-light border border-1">{{ obj.lesson_time|time:'H:i' }}</span>
                                        </p>
                                    </div>
                                {% else %}
                                    <div class="col-9 gap-2 align-right pt-1">
                                        <p class="text-dark mb-0 course-name mt-1 align-end h-100 w-100">
                                            <span class="fs-6 text-secondary opacity-50 course-id">{{ obj.id }}</span>
                                            {{ obj.subject|capfirst }} -
                                            {{ obj.get_name }}
                                        </p>
                                    </div>
                                    <div class="col-3 d-flex align-items-end justify-content-end h-100 pt-1 p-0 pe-3">
                                        <p class="badge text-bg-light border border-1 border-primary my-0 me-1"><i class="me-1 bi bi-person-fill"></i>{{ obj.get_enrolled_count }}</p>
                                        <p class="m-0"><span
                                                class="badge text-bg-light border border-1">{{ obj.lesson_time|time:'H:i' }}</span>
                                        </p>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
            {% empty %}
                <p class="text-center text-secondary">Нет груп.</p>
            {% endfor %}

            {% if page_obj.paginator.count > 30 %}
                {% include 'layout/pagination.html' %}
            {% endif %}

        </div>

    </div>
{% endblock %}