{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  <title>Панель Управления</title>
{% endblock %}
{% block content %}
  {% include 'layout/navbar.html' %}

  <div class="container pt-2">
    <div class="bg-light rounded py-3 mt-3 px-2 border">
      <p class="text-black ms-1">Создать информацию об ученике</p>
      {% comment %} {{ form.as_p }} {% endcomment %}
      <form method="post">
        {% csrf_token %}

        {% for field in form %}
          <div class="form-floating my-1">
            {{ field }}
            <label aria-required="{{ field.field.required }}" {{ field.required }} for="{{ field.id_for_label }}">{{ field.label }}</label>
          </div>
          {% if field.errors %}
            <div class="text-danger small">
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
        <div class="d-flex justify-content-end flex-column flex-md-row pt-2">
          <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
