{% extends 'layout/base.html' %}

{% block title %}
    <title>Панель Управления</title>
{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}

    <div class="container pt-1">
        <div class="mt-4 mb-2 d-flex align-items-center justify-content-between">
            <h5 class="mt-1 mb-2">История действий</h5>
        </div>
        <hr class="table-group-divider"/>
        <div class="row m-0 p-0 ">
            <div class="col-12 bg-light rounded pt-2 px-2 border">
                <form id="filterForm" method="get" action="{% url 'users:admin_actions' %}" class="" onreset="resetForm(event)">
                    <div class="">
                        <h6 class="text-dark  ms-1 fs-6 m-0">Фильтры
                            <button type="reset" class="filter-reset-btn ms-2 mb-1"><p>Очистить</p></button>
                        </h6>
                    </div>
                    <div class="row mt-2 pb-3">
                        <div class="col-12 col-md-4">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.content_type.label }}</label>
                                {{ filter_form.content_type }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="custom-select-2">
                                <label for="teacherName" class="me-2 ms-1 mb-1">{{ filter_form.user.label }}</label>
                                {{ filter_form.user }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="custom-select-2">
                                <label for="subject" class="me-2 ms-1 mb-1">{{ filter_form.action_type.label }}</label>
                                {{ filter_form.action_type }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="custom-select-2">
                                <label for="subject" class="me-2 ms-1 mb-1">{{ filter_form.sort_by.label }}</label>
                                {{ filter_form.sort_by }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mt-2">
                            <div class="custom-select-2">
                                <label for="subject"
                                       class="me-2 ms-1 mb-1">{{ filter_form.date_start.label }}</label>
                                {{ filter_form.date_start }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mt-2">
                            <div class="custom-select-2">
                                <label for="subject"
                                       class="me-2 ms-1 mb-1">{{ filter_form.date_end.label }}</label>
                                {{ filter_form.date_end }}
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-12">
                <div class="rounded py-2 mt-3 mt-md-0">
                    <p class="mt-2 text-dark ms-1 mb-2">Записанные ученики</p>

                    <table class="table border border-2 enrollments" id="enrollmentsTable">
                        <thead>
                        <tr>
                            <th class="w-auto">Студент</th>
                            <th class="w-auto">Группа</th>
                            <th class="w-auto">Баланс</th>
                            <th class="w-auto">Конец</th>
                            <th class="w-auto">Управления</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for enrollment in enrollments %}
                            <tr {% if enrollment.trial_lesson %}class="trial-lesson"{% endif %}
                                id="enrollmentdata{{ enrollment.id }}">
                                <td class="py-0 align-middle">
                                    <span class="me-1 text-dark">{{ forloop.counter }}. </span>
                                    <a
                                            class="text-decoration-none text-dark opacity-100 table-obj-name-link"
                                            href="{% url 'students:student_update' pk=enrollment.student.id %}">{{ enrollment.student.full_name }}</a>
                                <span class="text-secondary fs-6">-{{ enrollment.discount }}%</span>
                                    {% if enrollment.note %}
                                        <span data-bs-toggle="tooltip" data-bs-placement="top"
                                              title="{{ enrollment.note }}"
                                              role='button' class="text-warning ms-1"><i
                                                class="bi bi-exclamation-circle-fill"></i></span>{% endif %}
                                </td>
                                <td class="align-middle">{{ enrollment.course }}</td>
                                <td class="py-0 align-middle  {% if enrollment.balance <= 0 %}text-danger {% endif %}">{{ enrollment.balance }}</td>
                                <td class="py-0 align-middle {% if enrollment.balance <= 0 %}text-danger {% endif %}">{{ enrollment.payment_due }}</td>
                                <td class="align-middle p-0 bg-light">
                                    <div class="btn-group rounded-0 w-100 p-0 h-100">
                                        <button type="button" class="btn rounded-0 btn-warning px-3 py-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editEnrollmentModal{{ enrollment.id }}"><i
                                                class="bi bi-pencil-fill"></i></button>
                                        <!-- Edit Enrollment modal -->
                                        <div class="modal fade" data-bs-backdrop="static"
                                             id="editEnrollmentModal{{ enrollment.id }}" tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Изменить
                                                            информацию о Записе</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <p class="mb-2">
                                                            <b>Группа:</b> {{ enrollment.course }}, {{ enrollment.subject }}
                                                        </p>
                                                        <p class="mb-2">
                                                            <b>Ученик:</b> {{ enrollment.student }}
                                                        </p>
                                                        <p class="mb-2">
                                                            <b>Баланс:</b> {{ enrollment.balance|default:'-' }}
                                                        </p>
                                                        <p class="mb-2">
                                                            <b>Дата записи:</b> {{ enrollment.enrolled_at|default:'-' }}
                                                        </p>
                                                        <p class="mb-2">
                                                            <b>Прошел пробный:</b> {{ enrollment.trail_used_once_date|default:'-' }}
                                                        </p>
                                                        <p class="mb-2">
                                                            <b>Конец
                                                                абонимента:</b> {{ enrollment.payment_due|default:'-' }}
                                                        </p>
                                                        <div>
                                                            <ul class="nav nav-tabs">
                                                                <li class="nav-item">
                                                                    <button class="nav-link tab-btn active"
                                                                            aria-current="page"
                                                                            enrollment_id="{{ enrollment.id }}"
                                                                            onclick="openEnrollmentTab(this)"
                                                                            for="enrollment-tab">Запись
                                                                    </button>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <button class="nav-link tab-btn" aria-current="page"
                                                                            enrollment_id="{{ enrollment.id }}"
                                                                            onclick="openEnrollmentTab(this)"
                                                                            for="payment-tab">Оплата
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="enrollment-tab mytab bg-light border rounded-0 p-2">
                                                            <form method="post"
                                                                  action="{% url "students:update_enrollment" pk=enrollment.id %}?next={{ request.path }}">
                                                                {% csrf_token %}
                                                                {% if request.user.is_superuser %}
                                                                    <div class="mb-3">
                                                                        <label for="paymentdueInp{{ enrollment.id }}"
                                                                               class="fw-light fs-6">Конец
                                                                            абонимента</label>
                                                                        <input type="date" class="form-control"
                                                                               name="payment_due"
                                                                               value="{{ enrollment.payment_due|date:"Y-m-d" }}"
                                                                               id="paymentdueInp{{ enrollment.id }}"
                                                                               placeholder="123"/>
                                                                    </div>
                                                                {% endif %}
                                                                <div class="form-floating mb-3">
                                                                    <input type="number" class="form-control"
                                                                           name="discount"
                                                                           value="{{ enrollment.discount|default:"0" }}"
                                                                           required min="0" max="100"
                                                                           id="dicountInp{{ enrollment.id }}"
                                                                           placeholder="123"/>
                                                                    <label for="dicountInp{{ enrollment.id }}">Скидка (0
                                                                        -
                                                                        100)%</label>
                                                                </div>
                                                                <div class="form-floating mb-3">
                                                                    <input type="number" class="form-control" required
                                                                           value="{{ enrollment.hold|default:"0" }}"
                                                                           min="0"
                                                                           id="dicountInp{{ enrollment.id }}"
                                                                           placeholder="123" name="hold"/>
                                                                    <label for="dicountInp{{ enrollment.id }}">Заморозка</label>
                                                                </div>
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control"
                                                                           value="{{ enrollment.debt_note|default:"" }}"
                                                                           id="debtNoteInp{{ enrollment.id }}"
                                                                           placeholder="123" name="debt_note"/>
                                                                    <label for="debtNoteInp{{ enrollment.id }}">Заметка
                                                                        для
                                                                        Учителя</label>
                                                                </div>
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control"
                                                                           value="{{ enrollment.note|default:"" }}"
                                                                           id="NoteInp{{ enrollment.id }}"
                                                                           placeholder="123" name="note"/>
                                                                    <label for="NoteInp{{ enrollment.id }}">Заметка</label>
                                                                </div>
                                                                <div class="d-flex align-items-center">
                                                                    <input type="checkbox" name="trial_lesson"
                                                                           class="form-check-input fs-5 m-0"
                                                                           {% if enrollment.trial_lesson %}checked{% endif %}
                                                                           id="trialInp{{ enrollment.id }}">
                                                                    <label for="trialInp{{ enrollment.id }}"
                                                                           class="ms-2">Пробный
                                                                        урок</label>
                                                                </div>
                                                                <div class="w-100 flex-column-reverse mt-3 d-flex flex-sm-row justify-content-end gap-2 px-4 px-sm-0">
                                                                    {#                                                                    <button type="button" class="btn btn-success"#}
                                                                    {#                                                                            data-bs-toggle="modal"#}
                                                                    {#                                                                            data-bs-target="#payment{{ enrollment.id }}">#}
                                                                    {#                                                                        Оплата#}
                                                                    {#                                                                    </button>#}
                                                                    <div class="d-flex flex-column-reverse flex-sm-row gap-2">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Отмена
                                                                        </button>
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Сохранить
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="payment-tab mytab d-none bg-light border rounded-0 p-2">
                                                            <form method="post"
                                                                  action="{% url "payment:create_payment_enrollment" enrollment_id=enrollment.id %}?next={{ request.path }}"
                                                                  class=" gap-2">
                                                                {% csrf_token %}
                                                                <p class="mb-1">
                                                                    <b>Цена:</b> <input type="number"
                                                                                        id="priceInp{{ enrollment.id }}"
                                                                                        class="bg-transparent border-0 text-black d-inline-block"
                                                                                        readonly disabled
                                                                                        value="{{ enrollment.course.session_cost|default:"0" }}"
                                                                                        id="priceInp{{ enrollment.id }}"/>
                                                                </p>
                                                                <p class="mb-2">
                                                                    <b>Скидка:</b> <input type="number"
                                                                                          class="bg-transparent border-0 text-black d-inline-block"
                                                                                          readonly disabled
                                                                                          value="{{ enrollment.discount|default:"0" }}"
                                                                                          id="dicountInp{{ enrollment.id }}"/>
                                                                </p>
                                                                <div paymentModal="payment{{ enrollment.id }}">
                                                                </div>
                                                                <label class="mt-3 mb-2"
                                                                       for="paymentTypeInp{{ enrollment.id }}">Оплата
                                                                    за</label>
                                                                <label class="mb-2">{{ payment_form.months.label }}</label>
                                                                <select class="form-select mt-2" name="months"
                                                                        forPayment="{{ enrollment.id }}"
                                                                        id="paymentTypeInp{{ enrollment.id }}"
                                                                        onchange="calculateAmount(this)" required>
                                                                    {% for opt in payment_form.months.field.choices %}
                                                                        <option value="{{ opt.0 }}">{{ opt.1 }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <label class="mt-3 mb-2"
                                                                       for="amountInp{{ enrollment.id }}">{{ payment_form.amount.label }}</label>
                                                                <input type="number" class="form-control" readonly
                                                                       name="amount" id="amountInp{{ enrollment.id }}">
                                                                <div class="mt-2">
                                                                    <input checked name="automatic_date" class="form-check-input" type="checkbox" id="autoCalcCheckbox{{ enrollment.id }}" forDiv="paymentCustomDates{{ enrollment.id }}" onchange="manualPaymentDatesCheckbox(this)">
                                                                    <label for="autoCalcCheckbox{{ enrollment.id }}">Даты посчитать автоматически с конца абонимента</label>
                                                                </div>
                                                                <div class="mt-2">
                                                                    <div  class="collapse mb-4"
                                                                         id="paymentCustomDates{{ enrollment.id }}">
                                                                        <label class="mb-2"
                                                                               for="startInp{{ enrollment.id }}">Начало</label>
                                                                        <input name="start_date" type="date"
                                                                               class="form-control"
                                                                               value=""
                                                                               id="startInp{{ enrollment.id }}"
                                                                               onchange="paymentFromEnter(this, {{ enrollment.id }})">
                                                                        <label class="mb-2 mt-1"
                                                                               for="endInp{{ enrollment.id }}">Конец</label>
                                                                        <input name="end_date" type="date" disabled
                                                                               class="form-control"
                                                                               value="" id="endInp{{ enrollment.id }}">
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex flex-column flex-md-row justify-content-end mt-2">
                                                                    <button class="btn btn-success" type="submit">
                                                                        Оплатить
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
{#                                <td class="py-0 pe-0 max-w-15 align-middle text-break text-center">#}
{#                                    <form method="post"#}
{#                                          action="{% url 'students:update_enrollment_note' pk=enrollment.id %}?next={{ request.path }}#enrollmentsTable">#}
{#                                        {% csrf_token %}#}
{#                                        <input name="text" onchange="submit()" maxlength="25"#}
{#                                               class="text-center form-control rounded-0 align-middle w-100"#}
{#                                               value="{{ enrollment.note|default:"" }}">#}
{#                                    </form>#}
{#                                </td>#}
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="text-center w-100">нет записей</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% if page_obj.paginator.count > 30 %}
                {% include 'layout/pagination.html' %}
            {% endif %}
    </div>
{% endblock %}

