{% extends 'layout/base.html' %}

{% block title %}
  <title>Панель Управления</title>
{% endblock %}
{% block content %}
  {% include 'layout/navbar.html' %}

  <h2 class="text-center mt-5 mb-3">Добро пожаловать {{ user.first_name }}</h2>

  <div class="container courses-list">
    <h4>Сегодня</h4>
    <hr class="table-group-divider" />
    {% for obj in sessions_today %}
      <a href="{% url 'main:course_detail' pk=obj.id %}" class="border-2 border p-3 d-block course-list-item my-3">
        <div class="row">
          <div class="col-12 col-md-6 mb-3 mb-sm-4 mb-md-0 d-flex align-items-center">
            <p class="text-dark m-0">
              <span class="bandge text-secondary opacity-50">{{ obj.id }}</span>
              {{ obj.course_name|capfirst }}
            </p>
          </div>
          <div class="col-12 col-sm-2 col-md-1 d-flex align-items-center">
            <p class="text-dark m-0">{{ obj.lesson_time|time:'H:i' }}</p>
          </div>
          <div class="col-12 col-sm-10 col-md-5 d-flex align-items-center">
            <p class="main-lesson-days m-0 text-dark">
              {% for key, value in obj.weekdays.choices.items %}
                {% if key in obj.weekdays %}
                  <span>{{ value }}</span>
                {% endif %}
              {% endfor %}
            </p>
          </div>
        </div>
      </a>  
    {% empty %}
      <p class="text-center text-secondary">У вас нет груп на сегодня.</p>
    {% endfor %}

    <h4 class="mt-5">Все Группы</h4>
    <hr class="table-group-divider" />
    {% for obj in courses %}
      <a href="{% url 'main:course_detail' pk=obj.id %}" class="border-2 border p-3 d-block course-list-item my-3">
        <div class="row">
          <div class="col-12 col-md-6 mb-3 mb-sm-4 mb-md-0 d-flex align-items-center">
            <p class="text-dark m-0">
              <span class="bandge text-secondary opacity-50">{{ obj.id }}</span>
              {{ obj.course_name|capfirst }}
            </p>
          </div>
          <div class="col-12 col-sm-2 col-md-1 d-flex align-items-center">
            <p class="text-dark m-0">{{ obj.lesson_time|time:'H:i' }}</p>
          </div>
          <div class="col-12 col-sm-10 col-md-5 d-flex align-items-center">
            <p class="main-lesson-days m-0 text-dark">
              {% for key, value in obj.weekdays.choices.items %}
                {% if key in obj.weekdays %}
                  <span>{{ value }}</span>
                {% endif %}
              {% endfor %}
            </p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
