{% extends 'layout/base.html' %}

{% block title %}
  <title>Панель Управления</title>
{% endblock %}
{% block content %}
  {% include 'layout/navbar.html' %}

  <h2 class="text-center mt-5 mb-3">Добро пожаловать {{ user.first_name }}</h2>

  <div class="container courses-list">
    {% for obj in courses %}
      <a href="" class="border-2 border p-3 d-block course-list-item my-3">
        <div class="row">
          <div class="col-5 my-1">
            {{ obj.course_name|capfirst }} <span class="badge text-bg-secondary">#{{ obj.id }}</span>
          </div>
          <div class="col-5">
            {{ obj.lesson_time }}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  <form action="{% url 'users:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
{% endblock %}
