{% extends 'layout/base.html' %}

{% block title %}
  <title>Все Группы</title>
{% endblock %}
{% block content %}
  {% include 'layout/navbar.html' %}

  <div class="container courses-list">
    <div class="mt-5 mb-2 d-flex align-items-center justify-content-between">
        <h4 class="">Мои Группы</h4>
    </div>
    <hr class="table-group-divider border-2" />
    {% for obj in courses %}
      <a href="{% url 'courses:groupinfo' pk=obj.id %}" class="border-2 border px-3 py-3 d-block course-list-item my-2">
        <div class="row">
          <div class="col-12 col-md-7 d-flex flex-row-reverse flex-md-row gap-2">
            <div class="col-10 mb-3 mb-sm-4 mb-md-0 d-flex align-items-center h-100">
              <p class="text-dark m-0">
                <span class="bandge text-secondary opacity-50">{{ obj.id }}</span>
                {{ obj.subject|capfirst }}, 
                {{ obj.course_name|capfirst }}
                
              </p>
              <p class="badge text-bg-light border border-1 border-primary my-0 mx-3">{{obj.get_enrolled_count}}</p>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center h-100">
              <p class="m-0"><span class="badge text-bg-light border border-1" >{{ obj.lesson_time|time:'H:i' }}</span></p>
            </div>
          </div>
          <div class="col-12 col-sm-10 col-md-5 px-3 d-flex align-items-center">
            <p class="main-lesson-days m-0 text-dark">
              {% for key, value in obj.weekdays.choices.items %}
                {% if key in obj.weekdays %}
                  <span>{{ value }}</span>
                {% endif %}
              {% endfor %}
            </p>
          </div>
        </div>
      </a>
    {% empty %}
      <p class="text-center text-secondary">Нет групп.</p>
    {% endfor %}

    {% if page_obj.paginator.count > 10 %}
    <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination ">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page in paginator.page_range %}
                        {% if page_obj.number == page %}
                            <li class="page-item ms-1"><a class="page-link active"
                                                          href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page }}">{{ page }}</a></li>
                        {% elif page > page_obj.number|add:-4 and page < page_obj.number|add:4 %}
                            <li class="page-item ms-1"><a class="page-link"
                                                          href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item ms-1">
                            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
  </div>
{% endblock %}