{% extends 'layout/base.html' %}

{% block title %}
    <title>Все Группы</title>
{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}

    <div class="container courses-list">
        <div class="mt-5 mb-2 d-flex align-items-center justify-content-between">
            <p class="text-dark ms-1 fs-6 m-0">Мои Группы</p>
        </div>
        <hr class="table-group-divider border-2"/>

        <div class="row px-2 mt-3">

            {% for obj in courses %}
                <div class="col-12 col-md-6 px-1">
                    <div class="position-relative px-0">
                        <a href="{% url 'courses:groupinfo' pk=obj.id %}"
                           class="border-2 border px-2 py-2 d-block course-list-item mb-1">
                            <div class="row">
                                <div class="col-9 gap-2 align-right">
                                    <p class="text-dark mb-0 course-name align-end h-100 w-100">
                                        <span class="fs-6 text-secondary opacity-50 course-id">{{ obj.id }}</span>
                                        {{ obj.subject|capfirst }} -
                                        {{ obj.get_name }}
                                    </p>
                                </div>
                                <div class="col-3 d-flex align-items-end justify-content-end h-100 p-0 pe-3">
                                    <p class="badge text-bg-light border border-1 border-primary my-0 me-1">{{ obj.get_enrolled_count }}</p>
                                    <p class="m-0"><span
                                            class="badge text-bg-light border border-1">{{ obj.lesson_time|time:'H:i' }}</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% empty %}
                <p class="text-center text-secondary">Нет груп.</p>
            {% endfor %}
        </div>

        {% if page_obj.paginator.count > 20  %}
                {% include 'layout/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}