{% extends 'layout/base.html' %}

{% block title %}
  <title>Курс</title>
{% endblock %}

{% block content %}
  {% include 'layout/navbar.html' %}

  <div class="container courses-list mt-5 pb-5">
    <div class="row">
    {% if user.role == '2' %}
    <div class="d-flex mb-5">
      <div class="col-12 d-flex gap-3">
        <form method="get" action="{% url "attendance:session_date" course_id=session.course.id %}" id="customDateForm" value='{{session.date}}' class="h-100">
          <input type="date" name="date" class="h-100 border-1 border-primary text-center rounded-2" value="{{session.date|date:'Y-m-d'}}" id="customDatePicker">
        </form>

        {% if prev_session %}
        <a class="btn btn-outline-primary" href="{% url "attendance:session_detail" session_id=prev_session.id %}"><i class="bi bi-arrow-bar-left me-2"></i>Урок {{prev_session.session_number}}</a>
        {% endif %}
        {% if next_session %}
        <a  class="btn btn-outline-primary" href="{% url "attendance:session_detail" session_id=next_session.id %}">Урок {{next_session.session_number}}<i class="bi bi-arrow-bar-right ms-2"></i></a>
        {% endif %}
      </div>
      {% endif %}
    </div>


    <h1>{{ session.course.course_name }}</h1>
    <h2 class="mt-3"> Урок {{ session.session_number }} - {{ session.date }} - {{ session.course.lesson_time|time:'H:i' }}</h2>
    <hr class="table-group-divider"  />

    <form method="post" action="{% url 'attendance:session_detail' session_id=session.id %}">
      {% csrf_token %}
      {% for obj in enrollments %}
        {{ obj.enrollment }}
        <div class="border-2 border p-3 d-block course-list-item my-3">
          <div class="row">
            <div class="col-12 col-md-6 mb-3 mb-sm-4 mb-md-0 d-flex align-items-center">
               {% if obj.student.id  in exist  %}
               {% for record in attendance %}
                  {% if record.enrollment.student.id == obj.student.id %}
                  <input name="stid_{{ obj.student.student_id }}" type="checkbox" {% if record.status %}checked{% endif %} class="checkstatus">
                  {% endif %}
                
                {% endfor %}
                {% else %}
                <input name="stid_{{ obj.student.student_id }}" type="checkbox" class="checkstatus">
              {% endif %} 
              <p class="m-0 ms-3">{{obj.student.first_name}} {{obj.student.last_name}}</p>
            </div>
            <div class="col-12 col-sm-2 col-md-1 d-flex align-items-center">
              <p class="text-dark m-0">--:--</p>
            </div>
            <div class="col-12 col-sm-10 col-md-5 d-flex align-items-center">
              <p class="main-lesson-days m-0 text-dark">{{ obj.student.student_id }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary py-3">Сохранить</button>
      </div>
    </form>
  </div>
{% endblock %}
{% if user.role == '2' %}

{% block custom_js %}
<script>
  document.getElementById('customDatePicker').addEventListener('change', () =>{
    document.getElementById('customDateForm').submit()
  } )
  let dates = JSON.parse('{{all_session_dates|safe}}')
  flatpickr("#customDatePicker", {
    dateFormat: "Y-m-d",
    enable: dates,
    
});
</script>
{% endblock %}
{% endif %}