{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Панель Управления</title>
{% endblock %}
{% block content %}
  {% include 'layout/navbar.html' %}

  <div class="container courses-list pt-5">
    <h3>Ученик #{{student.id}} - {{student.first_name|default:"нет Имени"}} {{student.last_name|default:"нет Фамилии"}}</h3>
    <div class="mt-5 mb-2 d-flex align-items-center justify-content-between">
      <h4 class="">Записанные курсы</h4>
      <a href="{% url 'students:create_enrollment_from_student' student_id=student.id %}" class="btn btn-outline-primary">Добавить</a>
    </div>
    <button class="w-100 btn border-1 d-flex justify-content-center align-items-center my-toggler px-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
      <hr class="table-group-divider w-100" />
      <span class="mx-3 d-flex upIcon"><i class="bi bi-arrow-down me-2"></i>Развернуть <i class="bi bi-arrow-down ms-2"></i></span>
      <span class="mx-3 d-flex downIcon"><i class="bi bi-arrow-up me-2"></i>Завернуть <i class="bi bi-arrow-up ms-2"></i></span>
      <hr class="table-group-divider w-100" />
    </button>
    <div class="collapse show" id="collapse1">
      {% for obj in enrollments %}
        <a href="{% url 'students:update_enrollment' pk=obj.id %}?next={{ request.path }}" class="border-2 border p-3 d-block course-list-item my-3">
          <div class="row">
            <div class="col-12 col-md-6 mb-3 mb-sm-4 mb-md-0 d-flex align-items-center">
              <p class="text-dark m-0">
                <span class="bandge text-secondary opacity-50">{{ obj.course.id }}</span>
                {{ obj.course.subject|capfirst }},
                {{ obj.course.course_name|capfirst }}
              </p>
            </div>
            <div class="col-12 col-sm-2 col-md-1 d-flex align-items-center">
              <p class="text-dark m-0">{{ obj.course.lesson_time|time:'H:i' }}</p>
            </div>
            <div class="col-12 col-sm-10 col-md-5 d-flex align-items-center">
              <p class="main-lesson-days m-0 text-dark">
                {% for key, value in obj.course.weekdays.choices.items %}
                  {% if key in obj.course.weekdays %}
                    <span>{{ value }}</span>
                  {% endif %}
                {% endfor %}
              </p>
            </div>
          </div>
        </a>
      {% empty %}
        <p class="text-center text-secondary">Нет груп.</p>
      {% endfor %}
    </div>
    <h4 class="mt-5">Изменить информацию об ученике</h4>
    <button class="w-100 btn border-1 d-flex justify-content-center align-items-center my-toggler px-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
      <hr class="table-group-divider w-100" />
      <span class="mx-3 d-flex upIcon"><i class="bi bi-arrow-down me-2"></i>Развернуть <i class="bi bi-arrow-down ms-2"></i></span>
      <span class="mx-3 d-flex downIcon"><i class="bi bi-arrow-up me-2"></i>Завернуть <i class="bi bi-arrow-up ms-2"></i></span>
      <hr class="table-group-divider w-100" />
    </button>
    <div class="collapse" id="collapse2">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-end flex-column flex-md-row pt-3">
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
