{% extends 'layout/base.html' %}

{% block title %}
    <title>Панель Управления</title>
{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}

    <div class="container courses-list">
        <div class="mt-4 mb-2 d-flex align-items-center justify-content-between">
            <h5 class="m-0">Ученики</h5>
{#            <a href="{% url "students:create_student" %}" class="btn btn-primary">Создать</a>#}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#studentCreateModal">
                Создать
            </button>
        </div>
            <!-- Group create modal -->
        <div class="modal fade" id="studentCreateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="{% url 'students:create_student' %}">
                    {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Добавить Ученика</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for field in create_student_form %}
                              <div class="form-floating my-1">
                                {{ field }}
                                <label aria-required="{{ field.field.required }}" {{ field.required }} for="{{ field.id_for_label }}">{{ field.label }}</label>
                              </div>
                              {% if field.errors %}
                                <div class="text-danger small">
                                  {% for error in field.errors %}
                                    {{ error }}
                                  {% endfor %}
                                </div>
                              {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer pt-1">
                            <div class="d-flex justify-content-md-end flex-column-reverse w-100 flex-md-row gap-2">
                                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr class="table-group-divider"/>
        <div class="row m-0 p-0 ">
            <div class="col-12 bg-light rounded pt-2 px-2 pb-1 border">
                <form id="filterForm" method="get" class="student-filter-form">
                    <div class="">
                        <h6 class="text-dark ms-1 fs-6 m-0">Фильтры
                            <button type="reset" class="filter-reset-btn ms-2 mb-1"><p>Очистить</p></button>
                        </h6>
                    </div>
                    <div class="row mt-2 pb-2">
                        <div class="col-12 col-md-4">
                            <div class="custom-select-2">
                                <label for="subject" class="me-2 ms-1 mb-1">{{ filter_form.text.label }}</label>
                                {{ filter_form.text }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="custom-select-2">
                                <label for="teacherName" class="me-2 ms-1 mb-1">{{ filter_form.teacher.label }}</label>
                                {{ filter_form.teacher }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.order_by.label }}</label>
                                {{ filter_form.order_by }}
                            </div>
                        </div>
                    </div>
                </form>
                <p class="text-secondary fw-normal m-0">Найдено: {{ queryset_length }}</p>
            </div>
        </div>

        <div class="row px-2 mt-3">
            {% for obj in students %}
                <div class="col-12 col-md-6 col-lg-4 px-1 my-1">
                    <a href="{% url 'students:student_update' pk=obj.id %}"
                       class="border-2 border px-2 py-2 d-block course-list-item {% if obj.has_debt %} border-danger-subtle bg-danger-subtle {% endif %}">
                        <p class="text-dark mb-0 course-name">
                            <span class="text-secondary course-id">{{ obj.id }}</span>
                            {{ obj.full_name|capfirst }}
                        </p>
                    </a>
                </div>
            {% empty %}
                <p class="text-center text-secondary">Нет груп.</p>
            {% endfor %}
        </div>

        {% if page_obj.paginator.count > 30  %}
                <div class="row mt-5">
                    <div class="col-12 col-lg-8 offset-lg-2 d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination ">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"  href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    {% if page_obj.number == page %}
                                        <li class="page-item ms-1"><a class="page-link active"
                                                                      href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% elif page > page_obj.number|add:-4 and page < page_obj.number|add:4 %}
                                        <li class="page-item ms-1"><a class="page-link"
                                                                      href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item ms-1">
                                        <a class="page-link"  href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
    </div>

{% endblock %}

{% block custom_js %}
    <script>
        let filterForm = document.querySelector('form#filterForm')
        filterForm.addEventListener('reset', (event) => {
            event.preventDefault();
            event.target.reset()
            event.target.querySelectorAll('input').forEach((inp) => {
                inp.removeAttribute('value')
            })
            event.target.querySelectorAll('option').forEach((select) => {
                select.removeAttribute('selected')
            })
            event.target.submit()
        })

        $(document).ready(function () {
            $('select').select2() // Apply select2 to all select elements
        })

    </script>
{% endblock %}