{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Панель Управления</title>
{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}

    <div class="container pt-2">
        <div class="row d-flex">
            <div class="col-12 col-md-6">
                <div class="bg-light rounded py-3 px-2 mt-3 border">
                    <p class="text-black ms-1">Изменить информацию ученика #{{ student.id }}
                        - {{ student.first_name|default:'нет Имени' }} {{ student.last_name|default:'нет Фамилии' }}</p>
                    <form method="post">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-floating my-1">
                                {{ field }}
                                <label aria-required="{{ field.field.required }}" {{ field.required }}
                                       for="{{ field.id_for_label }}">{{ field.label }}</label>
                            </div>
                            {% if field.errors %}
                                <div class="text-danger small">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="d-flex justify-content-end flex-column flex-md-row pt-2">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-6">

                <div class="bg-light rounded py-3 mt-3 px-2 border">
                    <p class="text-dark ms-1">Записать на новый курс</p>
                    <form method="get">
                        <div class="form-floating mb-3">
                            {{ teacher_select_form.teacher }}
                            <label for="floatingInput">{{ teacher_select_form.teacher.label }}</label>
                        </div>
                    </form>
                    <form method="post"
                          action="{% url 'students:create_enrollment_from_student' student_id=student.id %}">
                        {% csrf_token %}
                        {% for field in enrollment_form %}
                            <div class="my-1 {% if field.name != 'trial_lesson' %}

                  form-floating

                {% else %}

                  ms-1

                {% endif %}">
                                {{ field }}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            </div>
                            {% if field.errors %}
                                <div class="text-danger small">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="d-flex justify-content-end flex-column flex-md-row">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 bg-light rounded py-2 px-2 mt-3 border">
                    <button type="button" class="btn btn-secondary py-1 my-1" data-bs-toggle="modal"
                            data-bs-target="#overallAttendanceModal">
                        Посещаемость
                    </button>
                    <button type="button" class="btn btn-success py-1 my-1" data-bs-toggle="modal"
                            data-bs-target="#paymentHistoryModal">
                        История оплат
                    </button>
                    <!-- Payment History modal -->
                    <div class="modal fade" id="paymentHistoryModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">История оплат</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="history-wrapper">
                                        <div class="accordion" id="accordionPaymentHistoryModal">
                                            {% for course, payments in payments_grouped.items %}
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#paymentHistoryAccordion{{ course.id }}"
                                                                aria-expanded="false" aria-controls="collapseOne">
                                                            {{ course }} | {{ course.teacher }}
                                                        </button>
                                                    </h2>
                                                    <div id="paymentHistoryAccordion{{ course.id }}"
                                                         class="accordion-collapse collapse"
                                                         data-bs-parent="#accordionPaymentHistoryModal">
                                                        <div class="accordion-body">
                                                            <table class="table-bordered w-100">
                                                                <thead>
                                                                <tr>
                                                                    <th class="text-center">Сумма</th>
                                                                    <th class="text-center">Кол-во месяцев</th>
                                                                    <th class="text-center">Начало</th>
                                                                    <th class="text-center">Конец</th>
                                                                    <th class="text-center">Оплачено</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for payment in payments %}
                                                                    <tr class="list-items-hover">
                                                                        <td class="px-1">{{ payment.amount }}</td>
                                                                        <td class="px-1">{{ payment.months }}</td>
                                                                        <td class="px-1">{{ payment.payed_from|default:'?' }}</td>
                                                                        <td class="px-1">{{ payment.payed_due|default:'?' }}</td>
                                                                        <td class="px-1">{{ payment.date|date }}</td>
                                                                        {% if user.is_superuser %}
                                                                            <td class=""><a
                                                                                    href="{% url 'payment:update_payment_dates' pk=payment.id %}"
                                                                                    class="btn py-1 px-2 w-100 btn-secondary"><i
                                                                                    class="bi bi-pencil"></i></a></td>
                                                                        {% endif %}
                                                                    </tr>
                                                                {% empty %}
                                                                    <tr>
                                                                        <td colspan="6" class="text-center w-100">нет
                                                                            записей
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <p class="text-center w-100">нет записей</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Overall Attendance modal -->
                    <div class="modal fade" id="overallAttendanceModal"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Посещаемость</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="accordion" id="accordionAttendanceModal">
                                        {% for course, attendance_data in attendance_grouped.items %}
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#attendanceTable{{ course.id }}"
                                                            aria-expanded="false">
                                                        {{ course }} | {{ course.teacher }}
                                                    </button>
                                                </h2>
                                                <div id="attendanceTable{{ course.id }}"
                                                     class="accordion-collapse collapse"
                                                     data-bs-parent="#accordionAttendanceModal">
                                                    <div class="accordion-body">

                                                        <table class="border table-bordered w-100 attendance-record-table">
                                                            <tr>
                                                                <td class="px-2 border border-secondary border-1 border-black fw-bold w-100">
                                                                    Дата
                                                                </td>
                                                                <td class="px-2 border border-secondary border-1 border-black fw-bold w-25">
                                                                    Статус
                                                                </td>
                                                            </tr>
                                                            {% for record in attendance_data %}
                                                                <tr class="attendance-item">
                                                                    <td class="px-2 py-1 border border-black border-secondary border-1 status-cell">{{ record.session__date }}</td>
                                                                    <td class="border border-secondary border-1 border-black text-center status-cell {% if record.status == 1 %} bg-success bg-opacity-75 {% elif record.status == 0 %} bg-danger bg-opacity-75 {% elif record.status == 2 %} bg-warning bg-opacity-50 {% else %} bg-secondary-subtle {% endif %}">
                                                                        {% if record.status == 1 or record.status == 2 %}
                                                                            <span title="оценка за дом.зад./посещение"
                                                                                  class="text-black">{{ record.homework_grade|default:"-" }}/{{ record.participation_grade|default:"-" }}</span>
                                                                        {% elif record.status == 0 %}
                                                                            <span class="text-dark"><i
                                                                                    class="bi bi-x"></i></span>
                                                                        {% elif record.status == None %}
                                                                            <i class="bi bi-question"></i>
                                                                        {% endif %}
                                                                    </td>

                                                                </tr>
                                                            {% empty %}
                                                                <tr>
                                                                    <td colspan="3" class="text-center w-100">нет
                                                                        записей
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        {% empty %}
                                            <p class="text-center w-100">нет записей</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="rounded py-2 mt-3 mt-md-0">
                    <p class="mt-2 text-dark ms-1 mb-2">Записанные Курсы</p>

                    <table class="table border border-2 enrollments" id="enrollmentsTable">
                        <thead>
                        <tr>
                            <th class="w-auto">Курс</th>
                            <th class="w-auto">Баланс</th>
                            <th class="w-auto">Конец</th>
                            <th class="w-auto">Управления</th>
                            <th class="w-25 text-center">Примечание</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for enrollment in enrollments %}
                            <tr {% if enrollment.trial_lesson %}class="trial-lesson"{% endif %}>
                                <td class="py-0 align-middle">
                                    <span class="me-1 text-dark">{{ forloop.counter }}. </span>
                                    <a
                                            class="text-decoration-none text-dark opacity-100 table-obj-name-link"
                                            href="{% url 'courses:course_update' pk=enrollment.course.id %}">{{ enrollment.course }}</a>
                                    {% if enrollment.note %}
                                        <span data-bs-toggle="tooltip" data-bs-placement="top"
                                              title="{{ enrollment.note }}"
                                              role='button' class="text-warning ms-1"><i
                                                class="bi bi-exclamation-circle-fill"></i></span>{% endif %}
                                </td>
                                <td class="py-0 align-middle  {% if enrollment.balance <= 0 %}text-danger {% endif %}">{{ enrollment.balance }}</td>
                                <td class="py-0 align-middle {% if enrollment.balance <= 0 %}text-danger {% endif %}">{{ enrollment.payment_due }}</td>
                                <td class="align-middle p-0 bg-light">
                                    <div class="btn-group rounded-0 w-100 p-0 h-100">
                                        <button type="button" class="btn rounded-0 btn-warning px-3 py-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editEnrollmentModal{{ enrollment.id }}"><i
                                                class="bi bi-pencil-fill"></i></button>
                                        <button type="button" class="rounded-0 btn btn-danger px-3 py-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteEnrollmentModal{{ enrollment.id }}"><i
                                                class="bi bi-trash3"></i></button>
                                        <!-- Enrollment delete modal -->
                                        <div class="modal fade" id="deleteEnrollmentModal{{ enrollment.id }}"
                                             tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Удалить
                                                            Запись</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            Вы действительно хотите удалить ученика
                                                            <b>{{ enrollment.student.full_name }}</b> из группы
                                                            <b>{{ enrollment.course }}</b>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Отмена
                                                        </button>
                                                        <form method="post"
                                                              action="{% url 'students:delete_enrollment' enrollment_id=enrollment.id %}?next={{ request.path }}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">Да</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Edit Enrollment modal -->
                                        <div class="modal fade" data-bs-backdrop="static"
                                             id="editEnrollmentModal{{ enrollment.id }}" tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Изменить
                                                            информацию о Записе</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <p class="mb-2">
                                                            <b>Группа:</b> {{ enrollment.course }}, {{ enrollment.subject }}
                                                        </p>
                                                        <p class="mb-2">
                                                            <b>Ученик:</b> {{ enrollment.student }}
                                                        </p>
                                                        <p class="mb-2">
                                                            <b>Баланс:</b> {{ enrollment.balance }}
                                                        </p>
                                                        <p class="mb-2">
                                                            <b>Конец абонимента:</b> {{ enrollment.payment_due }}
                                                        </p>
                                                        <div>
                                                            <ul class="nav nav-tabs">
                                                                <li class="nav-item">
                                                                    <button class="nav-link tab-btn active"
                                                                            aria-current="page"
                                                                            enrollment_id="{{ enrollment.id }}"
                                                                            onclick="openEnrollmentTab(this)"
                                                                            for="enrollment-tab">Запись
                                                                    </button>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <button class="nav-link tab-btn" aria-current="page"
                                                                            enrollment_id="{{ enrollment.id }}"
                                                                            onclick="openEnrollmentTab(this)"
                                                                            for="payment-tab">Оплата
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="enrollment-tab mytab bg-light border rounded-0 p-2">
                                                            <form method="post"
                                                                  action="{% url "students:update_enrollment" pk=enrollment.id %}?next={{ request.path }}">
                                                                {% csrf_token %}
                                                                {% if request.user.is_superuser %}
                                                                    <div class="mb-3">
                                                                        <label for="paymentdueInp{{ enrollment.id }}"
                                                                               class="fw-light fs-6">Конец
                                                                            абонимента</label>
                                                                        <input type="date" class="form-control"
                                                                               name="payment_due"
                                                                               value="{{ enrollment.payment_due|date:"Y-m-d" }}"
                                                                               id="paymentdueInp{{ enrollment.id }}"
                                                                               placeholder="123"/>
                                                                    </div>
                                                                {% endif %}
                                                                <div class="form-floating mb-3">
                                                                    <input type="number" class="form-control"
                                                                           name="discount"
                                                                           value="{{ enrollment.discount|default:"0" }}"
                                                                           required min="0" max="100"
                                                                           id="dicountInp{{ enrollment.id }}"
                                                                           placeholder="123"/>
                                                                    <label for="dicountInp{{ enrollment.id }}">Скидка (0
                                                                        -
                                                                        100)%</label>
                                                                </div>
                                                                <div class="form-floating mb-3">
                                                                    <input type="number" class="form-control" required
                                                                           value="{{ enrollment.hold|default:"0" }}"
                                                                           min="0"
                                                                           id="dicountInp{{ enrollment.id }}"
                                                                           placeholder="123" name="hold"/>
                                                                    <label for="dicountInp{{ enrollment.id }}">Заморозка</label>
                                                                </div>
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control"
                                                                           value="{{ enrollment.debt_note|default:"" }}"
                                                                           id="debtNoteInp{{ enrollment.id }}"
                                                                           placeholder="123" name="debt_note"/>
                                                                    <label for="debtNoteInp{{ enrollment.id }}">Заметка
                                                                        для
                                                                        Учителя</label>
                                                                </div>
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control"
                                                                           value="{{ enrollment.note|default:"" }}"
                                                                           id="NoteInp{{ enrollment.id }}"
                                                                           placeholder="123" name="note"/>
                                                                    <label for="NoteInp{{ enrollment.id }}">Заметка</label>
                                                                </div>
                                                                <div class="d-flex align-items-center">
                                                                    <input type="checkbox" name="trial_lesson"
                                                                           class="form-check-input fs-5 m-0"
                                                                           {% if enrollment.trial_lesson %}checked{% endif %}
                                                                           id="trialInp{{ enrollment.id }}">
                                                                    <label for="trialInp{{ enrollment.id }}"
                                                                           class="ms-2">Пробный
                                                                        урок</label>
                                                                </div>
                                                                <div class="w-100 flex-column-reverse mt-3 d-flex flex-sm-row justify-content-end gap-2 px-4 px-sm-0">
                                                                    {#                                                                    <button type="button" class="btn btn-success"#}
                                                                    {#                                                                            data-bs-toggle="modal"#}
                                                                    {#                                                                            data-bs-target="#payment{{ enrollment.id }}">#}
                                                                    {#                                                                        Оплата#}
                                                                    {#                                                                    </button>#}
                                                                    <div class="d-flex flex-column-reverse flex-sm-row gap-2">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Отмена
                                                                        </button>
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Сохранить
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="payment-tab mytab d-none bg-light border rounded-0 p-2">
                                                            <form method="post"
                                                                  action="{% url "payment:create_payment_enrollment" enrollment_id=enrollment.id %}?next={{ request.path }}"
                                                                  class=" gap-2">
                                                                {% csrf_token %}
                                                                <p class="mb-1">
                                                                    <b>Цена:</b> <input type="number"
                                                                                        id="priceInp{{ enrollment.id }}"
                                                                                        class="bg-transparent border-0 text-black d-inline-block"
                                                                                        readonly disabled
                                                                                        value="{{ enrollment.course.session_cost|default:"0" }}"
                                                                                        id="priceInp{{ enrollment.id }}"/>
                                                                </p>
                                                                <p class="mb-2">
                                                                    <b>Скидка:</b> <input type="number"
                                                                                          class="bg-transparent border-0 text-black d-inline-block"
                                                                                          readonly disabled
                                                                                          value="{{ enrollment.discount|default:"0" }}"
                                                                                          id="dicountInp{{ enrollment.id }}"/>
                                                                </p>
                                                                <div paymentModal="payment{{ enrollment.id }}">
                                                                </div>
                                                                <label class="mt-3 mb-2"
                                                                       for="paymentTypeInp{{ enrollment.id }}">Оплата
                                                                    за</label>
                                                                <label class="mb-2">{{ payment_form.months.label }}</label>
                                                                <select class="form-select mt-2" name="months"
                                                                        forPayment="{{ enrollment.id }}"
                                                                        id="paymentTypeInp{{ enrollment.id }}"
                                                                        onchange="calculateAmount(this)" required>
                                                                    {% for opt in payment_form.months.field.choices %}
                                                                        <option value="{{ opt.0 }}">{{ opt.1 }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <label class="mt-3 mb-2"
                                                                       for="amountInp{{ enrollment.id }}">{{ payment_form.amount.label }}</label>
                                                                <input type="number" class="form-control" readonly
                                                                       name="amount" id="amountInp{{ enrollment.id }}">
                                                                <div class="mt-2">
                                                                    <a role="button" class="text-primary py-1 mb-2"
                                                                       type="button"
                                                                       data-bs-toggle="collapse"
                                                                       data-bs-target="#paymentCustomDates{{ enrollment.id }}"
                                                                       aria-expanded="false"
                                                                       aria-controls="collapseExample">
                                                                        Ввести даты вручную
                                                                    </a>
                                                                    <div class="collapse mb-4"
                                                                         id="paymentCustomDates{{ enrollment.id }}">
                                                                        <p><span class="text-danger">!</span> Если
                                                                            указать только начало, конец будет считатся
                                                                            автоматически</p>
                                                                        <label class="mb-2"
                                                                               for="startInp{{ enrollment.id }}">Начало</label>
                                                                        <input name="start_date" type="date"
                                                                               class="form-control"
                                                                               value=""
                                                                               id="startInp{{ enrollment.id }}"
                                                                               onchange="paymentFromEnter(this, {{ enrollment.id }})">
                                                                        <label class="mb-2 mt-1"
                                                                               for="endInp{{ enrollment.id }}">Конец</label>
                                                                        <input name="end_date" type="date" disabled
                                                                               class="form-control"
                                                                               value="" id="endInp{{ enrollment.id }}">
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex flex-column flex-md-row justify-content-end mt-2">
                                                                    <button class="btn btn-success" type="submit">
                                                                        Оплатить
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="py-0 pe-0 max-w-15 align-middle text-break text-center">
                                    <form method="post" action="{% url 'students:update_enrollment_note' pk=enrollment.id %}?next={{ request.path }}#enrollmentsTable">
                                    {% csrf_token %}
                                        <input name="text" onchange="submit()" maxlength="25"
                                                  class="text-center form-control rounded-0 align-middle w-100" value="{{ enrollment.note|default:"" }}">
                                    </form>
                                </td>

                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="text-center w-100">нет записей</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}