{% extends 'layout/base.html' %}

{% block title %}
    <title>Панель Управления</title>
{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}

    <div class="container courses-list">
        <div class="mt-4 mb-2 d-flex align-items-center justify-content-between">
            <h5 class="m-0">Ученики</h5>
            {#            <a href="{% url "students:create_student" %}" class="btn btn-primary">Создать</a>#}
            <a href="{% url 'students:create_student' %}" class="btn btn-primary">
                Создать Ученика
            </a>
        </div>

        <hr class="table-group-divider"/>
        <div class="row m-0 p-0 ">
            <div class="col-12 bg-light rounded pt-2 px-2 pb-1 border">
                <form id="filterForm" method="get" class="student-filter-form" onreset="resetForm(event)">
                    <div class="">
                        <h6 class="text-dark ms-1 fs-6 m-0">Фильтры
                            <button type="reset" class="filter-reset-btn ms-2 mb-1"><p>Очистить</p></button>
                        </h6>
                    </div>
                    <div class="row mt-2 pb-2">
                        <div class="col-12 col-md-4">
                            <div class="custom-select-2">
                                <label for="subject" class="me-2 ms-1 mb-1">{{ filter_form.text.label }}</label>
                                {{ filter_form.text }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="custom-select-2">
                                <label for="teacherName" class="me-2 ms-1 mb-1">{{ filter_form.teacher.label }}</label>
                                {{ filter_form.teacher }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.order_by.label }}</label>
                                {{ filter_form.order_by }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-2">
                            <div class="custom-select-2">
                                <label for="id_enrollment_month"
                                       class="me-2 ms-1 mb-1">{{ filter_form.date_from.label }}</label>
                                {{ filter_form.date_from }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-2">
                            <div class="custom-select-2">
                                <label for="id_enrollment_month"
                                       class="me-2 ms-1 mb-1">{{ filter_form.date_to.label }}</label>
                                {{ filter_form.date_to }}
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <p class="text-secondary fw-normal m-0 d-inline-block me-3">
                        Всего: {{ all_students_count }}</p>
                    <p class="text-secondary fw-normal m-0 d-inline-block me-3">
                        Активные: {{ active_students_count }}</p>
                    <p class="text-secondary fw-normal m-0 d-inline-block">Найдено: {{ queryset_length }}</p>
                </div>
            </div>
        </div>

        <div class="row px-2 mt-3">
            {% for obj in students %}
                <div class="col-12 col-md-6 col-lg-6 px-1 my-1">
                    <a href="{% url 'students:student_update' pk=obj.id %}"
                       class="border border-3 px-2 py-2 d-block course-list-item {% if obj.in_debt %} border-danger-subtle bg-danger-subtle {% endif %}">
                        <p class="text-dark mb-0 course-name">
                            <span class="me-1 fw-semibold">{{ forloop.counter }}.</span>
{#                            <span class="text-secondary course-id">{{ obj.id }}</span>#}
                            {{ obj.full_name|capfirst }}
                        </p>
                    </a>
                </div>
            {% empty %}
                <p class="text-center text-secondary">Пусто</p>
            {% endfor %}
        </div>

        {% if page_obj.paginator.count > 30 %}
            {% include 'layout/pagination.html' %}
        {% endif %}
    </div>

{% endblock %}