{% extends 'layout/base.html' %}

{% block title %}
  <title>Панель Управления</title>
{% endblock %}
{% block content %}
  {% include 'layout/navbar.html' %}

  <h2 class="text-center mt-5 mb-3">Добро пожаловать {{ user.first_name }}</h2>

  <div class="container courses-list">

    <h4 class="mt-5">Учитель</h4>
    <hr class="table-group-divider" />
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">Сохранить</button>
    </form>
  </div>
{% endblock %}
