{% extends 'layout/base.html' %}

{% block title %}
    <title>Панель Управления</title>
{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}

    <div class="container pt-1">
        <div class="mt-4 mb-2 d-flex align-items-center justify-content-between">
            <h5 class="mt-1 mb-2">Учителя</h5>
        </div>
        <hr class="table-group-divider"/>
        <div class="row m-0 p-0 ">
            <div class="col-12 bg-light rounded pt-2 px-2 border">
                <form id="filterForm" method="get" action="{% url 'main:teachers_list' %}" class="">
                    <div class="">
                        <h6 class="text-dark  ms-1 fs-6 m-0">Фильтры
                            <button type="reset" class="filter-reset-btn ms-2 mb-1"><p>Очистить</p></button>
                        </h6>
                    </div>
                    <div class="row mt-2 pb-3">
                        <div class="col-12 col-md-6">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.text.label }}</label>
                                {{ filter_form.text }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row px-2 mt-3">
            {% for teacher in teachers %}
                <div class="accordion accordion-flush px-1" id="accordionExample">
                    <div class="accordion-item my-1">
                        <div class="accordion-header">
                            <div class="d-flex justify-content-between align-items-center border">
                                <span class="ms-3 text-secondary opacity-75">{{ forloop.counter }}. </span>
                                <a href="{% url 'users:teacher_update' pk=teacher.id %}" class="py-2 ps-2 text-dark text-decoration-none table-obj-name-link m-0 w-100 h-100" type="button">
                                    <span class="text-primary fw-medium font-monospace">{{ teacher.username }}</span>
                                        <span class="ms-1">-
                                                {{ teacher.get_full_name }}
                                              </span>
                                </a>
                                <div class="d-flex flex-column">
                                <button class="accordion-button shadow-none collapsed border py-1 h-100" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#accordion{{ teacher.id }}"
                                        aria-expanded="false">
                                </button>
                                </div>
                            </div>

                        </div>
                        <div id="accordion{{ teacher.id }}" class="accordion-collapse collapse border">
                            <div class="accordion-body bg-opacity-25 bg-light">
                                    <ul class="list-group list-unstyled">
                                {% for course in teacher.coursemodel_set.all %}
{#                                    <h2 class="accordion-header">#}
{#                                        <button class="accordion-button shadow-none collapsed border py-2" type="button"#}
{#                                                data-bs-toggle="collapse"#}
{#                                                data-bs-target="#accordion{{ course.id }}Teacher{{ teacher.id }}"#}
{#                                                aria-expanded="false">#}
{#                                            {{ course }}<span#}
{#                                                class="badge text-light mx-2 bg-primary p-1">{{ enrollments|length }}</span>#}
{#                                        </button>#}
{#                                    </h2>#}
                                                <a href="{% url 'courses:course_update' pk=course.id %}" class="my-auto text-dark table-obj-name-link text-decoration-none">
                                                    <li class="list-group-item list-items-hover py-0">
                                                        <div class="py-2 d-flex justify-content-between align-items-center text-decoration-none w-100">

                                                            <div class="ms-2 w-100 pe-0 pe-sm-3 d-flex flex-column flex-sm-row justify-content-between">
                                                                {{ course }}
                                                            </div>
                                                            <span class="badge text-bg-primary text-white rounded-pill bg-opacity-100">{{ course.enrolled.count }}</span>
                                                        </div>
                                                    </li>
                                                </a>
                                {% endfor %}
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center text-secondary">Нет Учителей.</p>
            {% endfor %}
            {% if page_obj.paginator.count > 30 %}
                <div class="row mt-5">
                    <div class="col-12 col-lg-8 offset-lg-2 d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination ">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?

                                                {% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    {% if page_obj.number == page %}
                                        <li class="page-item ms-1"><a class="page-link active"
                                                                      href="?

                                                                              {% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% elif page > page_obj.number|add:-4 and page < page_obj.number|add:4 %}
                                        <li class="page-item ms-1"><a class="page-link"
                                                                      href="?

                                                                              {% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item ms-1">
                                        <a class="page-link" href="?

                                                {% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script>
    let filterForm = document.querySelector('form#filterForm')
        filterForm.addEventListener('reset', (event) => {
            event.preventDefault();
            event.target.reset()
            event.target.querySelectorAll('input').forEach((inp) => {
                inp.removeAttribute('value')
            })
            event.target.querySelectorAll('option').forEach((select) => {
                select.removeAttribute('selected')
            })
            event.target.submit()
        })
    </script>
{% endblock %}
