{% block content %}
    <table class="border table-bordered w-100 attendance-record-table">
        <tr>
            <td class="px-2 border border-secondary border-1 border-black student-name-cell fw-bold">
                Имя студента
            </td>
            {% for session in sessions %}
                <td class="text-center border border-secondary border-black border-1 date-cell px-1 {% if session.status == False %} bg-danger bg-opacity-50 {% endif %}">
                    <span>{{ session.date|date:"d-M" }}</span><br><span>{{ session.date|date:"Y" }}</span>
                </td>
            {% empty %}
                {% if attendance_data|length > 1 %}
                    <td rowspan="{{ attendance_data|length|add:1 }}"
                        class="text-center border border-secondary border-1 date-cell">
                        нет записей
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% for record in attendance_data %}
            <tr>
                <td class="px-2 py-1 border border-black border-secondary border-1 status-cell">{{ record.student }}</td>
                {% for info in record.attendance %}
                    <td class="border border-secondary border-1 border-black text-center status-cell {% if info.status == 1 %} bg-success bg-opacity-75 {% elif info.status == 0 %} bg-danger bg-opacity-75 {% elif info.status == 2 %} bg-warning bg-opacity-50 {% elif info.status == 3 %} bg-info bg-opacity-50  {% else %} bg-secondary-subtle {% endif %}">
                        {% if info.status == 1 or info.status == 2 %}
                            <span title="оценка за дом.зад./посещение"
                                  class="text-black">{{ info.homework_grade|default:"-" }}/{{ info.participation_grade|default:"-" }}</span>
                        {% elif info.status == 0 %}
                            <span class="text-dark"><i
                                    class="bi bi-x"></i></span>
                        {% elif info.status == None %}
                            <i class="bi bi-question"></i>
                        {% endif %}
                    </td>

                {% endfor %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="3" class="text-center w-100">нет записей</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}