{% extends '../layout/base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-5 pt-5">
    <div class="loginFormContainer mx-auto">
      {% if form.errors %}
        <div class="alert alert-danger mb-3" role="alert">Неверное имя пользователя или пароль</div>
      {% endif %}
      <form method="post" class="loginForm mx-auto p-4 border-2 border">
        {% csrf_token %}

        <label for="{{ form.username.id_for_label }}" class="custom-label-class my-2">{{ form.username.label }}</label>
        {{ form.username }}

        <label for="{{ form.password.id_for_label }}" class="custom-label-class my-2 mt-3">{{ form.password.label }}</label>
        {{ form.password }}

        <div class="mt-4 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary w-100">Войти</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
