{% extends '../layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Аутентификация</title>
{% endblock %}

{% block custom_css %}
    <style>
        form > div.alert {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container mt-5 pt-5">
        <div class="loginFormContainer mx-auto">
            {% if form.errors %}
                <div class="alert alert-danger mb-3" role="alert">Неверное имя пользователя или пароль</div>
            {% endif %}
            <form method="post" class="loginForm mx-auto p-4 border-2 border">
                {% csrf_token %}

                {{ form|crispy }}
                <div class="d-flex gap-2 align-items-center">
                    <input type="checkbox" id="showPassword" class="form-check-input cursor-pointer border-2 fs-5 m-0">
                    <label for="showPassword" class="user-select-none cursor-pointer">Показать пароли</label>
                </div>

                <div class="mt-4 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary w-100">Войти</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script>
        const passwordInput = document.getElementById('id_password');
        const showPasswordCheckbox = document.getElementById('showPassword');

        showPasswordCheckbox.addEventListener('change', function () {
            passwordInput.type = this.checked ? 'text' : 'password';
        });
    </script>
{% endblock %}