{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Профиль</title>
{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}

    <h4 class="text-center mt-5 mb-3">Обновить пароль: {{ user.username }}</h4>

    <div class="container courses-list">

        <hr class="table-group-divider"/>
        <div class="bg-light rounded p-3 mt-3 border">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-end flex-column flex-md-row pt-3">
            <button type="submit" class="btn btn-primary">Обновить Пароль</button>
            </div>
        </form>
        </div>
    </div>
{% endblock %}
