{% extends 'layout/base.html' %}

{% block title %}
    <title>Панель Управления</title>
{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}

    <div class="container pt-1">
        <div class="mt-4 mb-2 d-flex align-items-center justify-content-between">
            <h5 class="m-0">Пользователи</h5>
            <div>
                <a href="{% url 'users:user_create' %}" type="button" class="btn btn-primary">
                    Создать
                </a>
            </div>
        </div>
        <hr class="table-group-divider"/>
        <div class="row m-0 p-0 ">
            <div class="col-12 bg-light rounded pt-2 px-2 border">
                <form id="filterForm" method="get" action="{% url 'users:users_list' %}" class=""
                      onreset="resetForm(event)">
                    <div class="">
                        <h6 class="text-dark  ms-1 fs-6 m-0">Фильтры
                            <button type="reset" class="filter-reset-btn ms-2 mb-1"><p>Очистить</p></button>
                        </h6>
                    </div>
                    <div class="row mt-2 pb-3">
                        <div class="col-12 col-md-6">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.text.label }}</label>
                                {{ filter_form.text }}
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.role.label }}</label>
                                {{ filter_form.role }}
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="custom-select-2">
                                <label for="daySelect" class="me-2 ms-1 mb-1">{{ filter_form.status.label }}</label>
                                {{ filter_form.status }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row px-3 mt-3">
            <table class="table-bordered w-100">
                <thead>
                <tr>
                    <th class="w-auto"></th>
                    <th class="text-center w-auto">Имя пользователя</th>
                    <th class="text-center w-auto">Имя Фамилия</th>
                    <th class="text-center w-auto">Роль</th>
                    <th class="text-center">Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr class="list-items-hover">
                        <td class="text-center">{{ user.id }}</td>
                        <td class="p-2"><a href="{% url 'users:user_update' pk=user.id %}"
                                           class="link-primary">{{ user.username }}</a></td>
                        <td class="p-2">{{ user.get_full_name }}</td>
                        <td class="p-2">{{ user.get_role_display }}</td>
                        <td class="p-2 text-center">
                            {% if user.is_active %}
                                <span class="badge text-bg-success p-1"><i class="bi bi-check-lg"></i></span>
                            {% else %}
                                <span class="badge text-bg-danger p-1"><i class="bi bi-x-lg"></i></span>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="text-center py-2" colspan="5">Пусто</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if page_obj.paginator.count > 30 %}
                {% include 'layout/pagination.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
