{% extends 'layout/base.html' %}

{% block title %}
  <title>Панель Управления</title>
{% endblock %}
{% block content %}
  {% include 'layout/navbar.html' %}

  <div class="container courses-list">
    <div class="mt-5 mb-2 d-flex align-items-center justify-content-between">
      <h4 class="">Все Оплаты</h4>
{#      <a href="{% url "payment:create_payment" %}" class="btn btn-primary">Создать</a>#}
    </div>
  <div class="">
      <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">История оплат</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Список должников</a>
      </li>
    </ul>
  </div>
    <hr class="table-group-divider mt-0" />
    <div class="row px-2 mt-3">
            {% for obj in payments %}
                <div class="col-12 col-md-6  px-1 my-1">
                    <a href=""
                       class="border-2 border px-2 py-2 d-block course-list-item">
                        <p class="text-dark mb-0 course-name">
                            <span class="text-secondary course-id">{{ obj.id }}</span>
                            {{ obj.enrollment.student }} - <span class="text-danger">{{ obj.months }}</span> - <span class="text-primary">{{ obj.date|date:"d-m-Y" }}</span>
                        </p>
                    </a>
                </div>
            {% empty %}
                <p class="text-center text-secondary">Нет Оплат.</p>
            {% endfor %}
        </div>

        {% if page_obj.paginator.count > 10  %}
                <div class="row mt-5">
                    <div class="col-12 col-lg-8 offset-lg-2 d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination ">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"  href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    {% if page_obj.number == page %}
                                        <li class="page-item ms-1"><a class="page-link active"
                                                                      href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% elif page > page_obj.number|add:-4 and page < page_obj.number|add:4 %}
                                        <li class="page-item ms-1"><a class="page-link"
                                                                      href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item ms-1">
                                        <a class="page-link"  href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
  </div>
{% endblock %}
