{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Панель Управления</title>
{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}

    <div class="container courses-list">

        <h4 class="mt-5">Обновить даты оплаты</h4>
        <hr class="table-group-divider"/>
        <div class="col-12 bg-light rounded p-3 border">
            <form method="post">
                {% csrf_token %}
                <p><b>Ученик:</b> {{ object.enrollment.student.full_name }}</p>
                <p><b>Курс:</b> {{ object.enrollment.course }}</p>
                <p><b>Начало:</b> {{ object.payed_from }}</p>
                <p><b>Конец:</b> {{ object.payed_due }}</p>
                <p><b>Дата оплаты:</b> {{ object.date }}</p>
                {{ form|crispy }}

                <div class="d-flex justify-content-end flex-column flex-md-row pt-3">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block custom_js %}

    <script>
    function custom_due_date_toggle(check){
        console.log(check.checked)
        let div = document.getElementById('div_id_payed_due')

        if (check.checked == true){
            div.classList.add('d-none')
        }else{
            div.classList.remove('d-none')
        }
    }
    </script>

{% endblock %}
