{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block title %}
        <title>Title</title>
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'packages/flatpickr/flatpickr.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'packages/bootstrap-icons/font/bootstrap-icons.min.css' %}"/>
    <!-- Select 2 -->
    <link rel="stylesheet" href="{% static 'packages/select2/select2.min.css' %}"
          integrity="sha512-yI2XOLiLTQtFA9IYePU0Q1Wt0Mjm/UkmlKMy4TU4oNXEws0LybqbifbO8t9rEIU65qdmtomQEQ+b3XfLfCzNaw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% block custom_css %}

    {% endblock %}
</head>
<body>
<div class="pb-5">
    {% block content %}

    {% endblock %}
</div>
<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}" defer></script>
<script src="{% static 'packages/jquery/jquery.min.js' %}"></script>
<script src="{% static 'packages/flatpickr/flatpickr.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'packages/select2/select2.min.js' %}"
        integrity="sha512-qiKM6FJbI5x5+GL5CEbAUK0suRhjXVMRXnH/XQJaaQ6iQPf05XxbFBE4jS6VJzPGIRg7xREZTrGJIZVk1MLclA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

<script defer>
    document.addEventListener("DOMContentLoaded", function () {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(triggerEl => new bootstrap.Tooltip(triggerEl));
    });
    $(document).ready(function () {
        $('select').select2() // Apply select2 to all select elements
    })


    function resetForm(event) {
        event.preventDefault();

        const form = event.target;
        form.reset();
        form.querySelectorAll('input').forEach((input) => {
            input.value = '';
        });
        form.querySelectorAll('select option').forEach((option) => {
            option.selected = false;
        });
        form.submit()
    }
</script>
{% block custom_js %}

{% endblock %}
</body>
</html>
