{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block title %}
        <title>Title</title>
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'packages/flatpickr/flatpickr.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'packages/bootstrap-icons/font/bootstrap-icons.min.css' %}"/>
    <!-- Select 2 -->
    <link rel="stylesheet" href="{% static 'packages/select2/select2.min.css' %}"
          integrity="sha512-yI2XOLiLTQtFA9IYePU0Q1Wt0Mjm/UkmlKMy4TU4oNXEws0LybqbifbO8t9rEIU65qdmtomQEQ+b3XfLfCzNaw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% block custom_css %}

    {% endblock %}
</head>
<body>
<div class="pb-5">
    {% if messages %}
      <div id="message-container" class="position-fixed top-0 start-50 translate-middle-x pt-2" style="z-index: 1055;">
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} p-1 mb-2 ps-3 d-flex align-items-center alert-dismissible fade show" role="alert">
              <span>{{ message }}</span>
            <button type="button" class="btn-close position-relative p-2 ms-4 shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}

    {% endblock %}
</div>
<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}" defer></script>
<script src="{% static 'packages/jquery/jquery.min.js' %}"></script>
<script src="{% static 'packages/flatpickr/flatpickr.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'packages/select2/select2.min.js' %}"
        integrity="sha512-qiKM6FJbI5x5+GL5CEbAUK0suRhjXVMRXnH/XQJaaQ6iQPf05XxbFBE4jS6VJzPGIRg7xREZTrGJIZVk1MLclA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

<script src="{% static 'js/main.js' %}"></script>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    const alerts = document.querySelectorAll('#message-container .alert');
    alerts.forEach((alert) => {
      setTimeout(() => {
        const bsAlert = bootstrap.Alert.getOrCreateInstance(alert);
        bsAlert.close();
      }, 4000); // 4000 ms = 4 seconds
    });
  });
</script>

{% block custom_js %}

{% endblock %}
</body>
</html>
