{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
      <title>Title</title>
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'packages/flatpickr/flatpickr.min.css' %}">
    {% block custom_css %}

    {% endblock %}
  </head>
  <body>
    <div class="pb-5">
      {% block content %}

      {% endblock %}
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'packages/flatpickr/flatpickr.js' %}"></script>
    {% block custom_js %}

    {% endblock %}
  </body>
</html>
