{% load static %}

<nav class="navbar navbar-expand-lg py-0 border border-2">
  <div class="container-fluid py-0">
    <a class="navbar-brand py-0" href="/"><img src="{% static 'img/logo.png' %}" alt="" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{% if user.role == '1' %}Мои {% endif %}Группы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Учителя</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Ученики</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Оплата</a>
        </li>
      </ul>
      <a href="" class="profile-navbtn"><img src="{% static 'img/user.webp' %}" alt="" /></a>
    </div>
  </div>
</nav>
